
@{
    ViewBag.Title = "Contact";
}

<ul>
    <li><h2>Mail: mirsho@protonmail.com</h2></li>
    <li><h2><a href="https://github.com/Mirsho">GitHub</a></h2></li>
    <li><h2><a href="https://www.linkedin.com/in/apernandez/">LinkedIn</a></h2></li>
</ul>
